@font-face {
    font-family: "CA Texteron";
    src: url(../fonts/CATexteron-Regular.woff2) format("woff2"), url(../fonts/CATexteron-Regular.woff) format("woff");
}

@font-face {
    font-family: "CA Texteron-Italic";
    src: url(../fonts/CATexteron-Italic.woff2) format("woff2"), url(../fonts/CATexteron-Italic.woff) format("woff");
}
