@import "./variables";

/**
 * Fluid typography
 * pulled from https://css-tricks.com/snippets/css/fluid-typography/
 */
html {
    font-size: 16px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}

* {
    box-sizing: border-box;
}

body {
    padding: 1em;
    font-family: $font-primary;
    color: $black;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba($black, .8);
}

em {
    font-family: $font-italic;
}
