@import "./variables";

$typl8-custom-font: true;
$typl8-font-family: $font-primary;
$typl8-scale: (
  typl8-tera: 84,
  typl8-giga: 72,
  typl8-mega: 60,
  typl8-alpha: 48,
  typl8-beta: 36,
  typl8-gamma: 24,
  typl8-delta: 22,
  typl8-epsilon: 20,
  typl8-zeta: 20,
)
